.main-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto auto auto;
    width: 500px;
    height: 500px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}